<!DOCTYPE html>
<html th:replace="~{fragment/layout.html :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">

<section>
  <style>
    .field-error {
        border-color: #dc3545;
        color: #dc3545;
    }
  </style>
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800"></h1>
  <div class="card shadow">
    <div class="card-body">
      <h5>창고 수정</h5>
      <p></p>
      <form method="post" th:action th:object="${warehouse}">
        <!--          <input type="hidden" th:field="*{id}">-->

        <div class="form-group">
          <label for="code">창고 코드</label>
          <input type="text" class="form-control" id="code" th:field="*{code}" disabled>
        </div>

        <div class="form-group">
          <label for="name">창고 이름</label>
          <input type="text" class="form-control" id="name" th:field="*{name}" th:errorclass="field-error">
          <div th:errors="*{detailsAddress}" class="field-error"></div>
        </div>

        <div class="form-group">
          <label for="zipcode">우편 번호</label>
          <input type="text" class="form-control" id="zipcode" th:field="*{zipcode}" th:errorclass="field-error" onclick="sample4_execDaumPostcode()">
          <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기" class="btn btn-secondary form-control"><br>
          <div th:errors="*{zipcode}" class="field-error"></div>
        </div>


        <div class="form-group">
          <label for="roadNameAddress">도로명 주소</label>
          <input type="text" class="form-control" id="roadNameAddress" th:field="*{roadNameAddress}" th:errorclass="field-error">
          <div th:errors="*{roadNameAddress}" class="field-error"></div>
        </div>


        <div class="form-group">
          <label for="jibunAddress">지번 주소</label>
          <input type="text" class="form-control" id="jibunAddress" th:field="*{jibunAddress}" th:errorclass="field-error">
          <div th:errors="*{jibunAddress}" class="field-error"></div>
        </div>


        <div class="form-group">
          <label for="detailsAddress">상세 주소</label>
          <input type="text" class="form-control" id="detailsAddress" th:field="*{detailsAddress}" th:errorclass="field-error">
          <div th:errors="*{detailsAddress}" class="field-error"></div>
        </div>

        <button type="submit" class="btn btn-primary" th:text="|창고 수정|"></button>
        <a th:href="@{/warehouses/{id}(id = ${id})}" class="btn btn-secondary" th:text="취소" style="margin-left: 0.3rem"></a>
      </form>
    </div>
  </div>

  <div th:replace="~{fragment/address-search.html :: address-search}"></div>
</section>

</html>