<!DOCTYPE html>
<html th:replace="~{fragment/layout.html :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">

<section>
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">창고 상세</h1>
  <div class="card shadow">
    <div class="card-body">
      <h4 th:if="${param.saveStatus}" th:text="|창고 등록이 완료되었습니다!|"></h4>
      <h4 th:if="${param.updateStatus}" th:text="|창고 수정이 완료되었습니다!|"></h4>
      <p></p>
      <table class="table table-bordered">
        <tr>
          <th>창고 이름</th>
          <td th:text="${warehouse.name}"></td>
        </tr>

        <tr>
          <th>창고 코드</th>
          <td th:text="${warehouse.code}"></td>
        </tr>

        <tr>
          <th>도로명 주소</th>
          <td th:text="${warehouse.address.roadNameAddress}"></td>
        </tr>

        <tr>
          <th>지번 주소</th>
          <td th:text="${warehouse.address.jibunAddress}"></td>
        </tr>

        <tr>
          <th>우편번호</th>
          <td th:text="${warehouse.address.zipcode}"></td>
        </tr>

        <tr>
          <th>상세 주소</th>
          <td th:text="${warehouse.address.detailsAddress}"></td>
        </tr>

      </table>
      <div style="display: flex; align-items: center;">
        <a th:href="@{/warehouses/{id}/update(id=${warehouse.id})}" class="btn btn-primary" th:text="|창고 수정|"></a>
        <a th:href="@{/warehouses}" class="btn btn-secondary" th:text="목록" style="margin-left: 0.3rem"></a>
      </div>
    </div>
  </div>
  <!-- 컨텐츠 끝 -->
</section>

</html>






