<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="allliveyoung.wms.mapper.AnnouncementMapper">

    <resultMap id="AnnouncementResultMap" type="allliveyoung.wms.domain.Announcement">
        <id property="announcementId" column="announcement_id"/>
        <result property="managerId" column="manager_id"/>
        <result property="writeDate" column="write_date"/>
        <result property="content" column="content"/>
        <result property="highlight" column="is_highlight"/>
    </resultMap>

    <!-- 공지사항 삽입 -->
    <insert id="insertAnnouncement">
        INSERT INTO ANNOUNCEMENT (
            manager_id,
            write_date,
            content,
            is_highlight
        ) VALUES (
                     #{managerId},
                     #{writeDate},
                     #{content},
                     #{highlight}
                 )
    </insert>

    <!-- 공지사항 업데이트 -->
    <update id="updateAnnouncement">
        UPDATE ANNOUNCEMENT
        SET
            content = #{content},
            is_highlight = #{highlight}
        WHERE announcement_id = #{announcementId}
    </update>

    <!-- 공지사항 삭제 -->
    <delete id="deleteAnnouncement">
        DELETE FROM ANNOUNCEMENT WHERE announcement_id = #{announcementId}
    </delete>

    <!-- 공지사항 ID로 조회 -->
    <select id="selectAnnouncementById" resultMap="AnnouncementResultMap">
        SELECT * FROM ANNOUNCEMENT WHERE announcement_id = #{announcementId}
    </select>

    <!-- 모든 공지사항 목록 조회 -->
    <select id="selectAllAnnouncements" resultMap="AnnouncementResultMap">
        SELECT * FROM ANNOUNCEMENT ORDER BY write_date DESC
    </select>

</mapper>
