<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="allliveyoung.allliveinbound.mapper.InboundInspectionMapper">

    <sql id="search">
        <where>
            <if test="statuses != null and statuses.length > 0">
                AND (
                <foreach collection="statuses" item="status" open="" close="" separator=" OR ">
                    status = #{status}
                </foreach>
                )
            </if>
        </where>
    </sql>

    <select id="findAll" resultType="allliveyoung.allliveinbound.domain.InboundRequest">warehouse_id = #{warehouse_id}
        SELECT * FROM INBOUND_INSPECTION WHERE member_id = #{member_id}
    </select>

    <select id="findById" resultType="allliveyoung.allliveinbound.domain.InboundRequest">
       SELECT * FROM INBOUND_REQUEST ir
           JOIN INBOUND_REQUEST_PRODUCT irp
               ON ir.inbound_request_id = irp.inbound_request_id
            JOIN INBOUND_INSPECTION ii
               ON ir.inbound_request_id = ii.inbound_request_id
       WHERE ir.inbound_request_id = #{inboundRequestId};
    </select>
</mapper>

