<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="allliveyoung.wms.mapper.PasswordResetTokenMapper">

    <!-- 토큰 삽입 -->
    <insert id="insertToken" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO password_reset_token (token, member_id, expiration_time)
        VALUES (#{token}, #{memberId}, #{expirationTime})
    </insert>

    <!-- 토큰으로 조회 -->
    <select id="selectTokenByToken" resultType="allliveyoung.wms.domain.PasswordResetToken">
        SELECT * FROM password_reset_token WHERE token = #{token}
    </select>

    <!-- 토큰 삭제 -->
    <delete id="deleteTokenByMemberId">
        DELETE FROM password_reset_token WHERE member_id = #{memberId}
    </delete>
</mapper>
