<!DOCTYPE html>
<html th:replace="~{fragment/layout.html :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">
<section>
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">입고 요청서</h1>
        <div class="card shadow">
            <div class="card-body">
                <h5>입고 요청 정보</h5>
                <table class="table table-bordered">
                    <tr>
                        <th>회사</th>
                        <td th:text="${responseDTO.get(0).inboundRequest.member.name}"></td>
                    </tr>
                    <tr>
                        <th>창고</th>
                        <td th:text="${responseDTO.get(0).inboundRequest.warehouse.name}"></td>
                    </tr>
                    <tr>
                        <th>입고요청코드</th>
                        <td th:text="${responseDTO.get(0).inboundRequest.code}"></td>
                    </tr>
                    <tr>
                        <th>등록일자</th>
                        <td th:text="${responseDTO.get(0).inboundRequest.regDate}"></td>
                    </tr>
                    <tr>
                        <th>입고요청상태</th>
                        <td th:text="${responseDTO.get(0).inboundRequest.status}"></td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">입고 요청 리스트</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="inputTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>의약품</th>
                            <th>파레트 수량</th>
                            <th>박스 수량</th>
                            <th>제조번호</th>
                            <th>유효기간</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="dto : ${responseDTO}">
                            <th scope="row" th:text="${dto.id}"></th>
                            <td th:text="${dto.product.name}"></td>
                            <td>
                                <select name="palletQuantity" th:value="${dto.palletQuantity}">
                                    <option th:each="i : ${#numbers.sequence(1, 100)}" th:value="${i}" th:text="${i}"
                                            th:selected="${dto.palletQuantity == i}"></option>
                                </select>
                            </td>
                            <td>
                                <select name="boxQuantity" th:value="${dto.boxQuantity}">
                                    <option th:each="i : ${#numbers.sequence(1, 100)}" th:value="${i}" th:text="${i}"
                                            th:selected="${dto.boxQuantity == i}"></option>
                                </select>
                            </td>
                            <td>
                                <input type="text" name="manufactureNum" th:value="${dto.manufactureNum}">
                            </td>
                            <td>
                                <input type="date" name="expDate" th:value="${dto.expDate}">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="form-container">
                        <form th:action="@{/inbound-requests}" method="get">
                            <button class="submit btn btn-primary" type="submit">취소</button>
                        </form>
                        <button id="submitBtn" class="submit" type="button">등록</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script th:inline="javascript">
        var id = [[${responseDTO[0].inboundRequest.id}]];

        document.getElementById('submitBtn').addEventListener('click', function(event) {
            event.preventDefault();

            var tableBody = document.getElementById('inputTable').getElementsByTagName('tbody')[0];
            var rows = tableBody.getElementsByTagName('tr');
            var products = [];

            for (var i = 0; i < rows.length; i++) {
                var cells = rows[i].getElementsByTagName('td');
                var idCell = rows[i].getElementsByTagName('th')[0];

                var productIdElement = idCell.innerHTML;
                console.log(productIdElement);
                var palletQuantityElement = cells[1].getElementsByTagName('select')[0];
                console.log(palletQuantityElement.value);
                var boxQuantityElement = cells[2].getElementsByTagName('select')[0];
                console.log(boxQuantityElement.value);
                var manufactureNumElement = cells[3].getElementsByTagName('input')[0];
                console.log(manufactureNumElement.value);
                var expDateElement = cells[4].getElementsByTagName('input')[0];
                console.log(expDateElement.value);

                if (productIdElement && palletQuantityElement && boxQuantityElement && manufactureNumElement && expDateElement) {
                    products.push({
                        id: productIdElement,
                        inboundRequestId: id,
                        palletQuantity: palletQuantityElement.value,
                        boxQuantity: boxQuantityElement.value,
                        manufactureNum: manufactureNumElement.value,
                        expDate: expDateElement.value
                    });
                } else {
                    console.error('Some required elements are missing in row ' + (i + 1));
                }
            }

            var data = {
                inboundProductUpdateDTOList: products,
                id: id
            };

            fetch('/inbound-requests/' + id + "/update", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    window.location.href = '/inbound-requests/' + id;
                })
                .catch(error => {
                    console.error('Error:', error);
                    // Add error handling logic here
                });
        });
    </script>
</section>
</html>
