<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="allliveyoung.wms.mapper.DispatchMapper">

  <select id="findAll" resultType="allliveyoung.wms.domain.Dispatch">
    select * from DISPATCH order by dispatch_id desc
  </select>

  <select id="findById" resultType="allliveyoung.wms.domain.Dispatch">
    select * from DISPATCH where dispatch_id = ${id}
  </select>

  <update id="update">
    update DISPATCH set dispatch_status = ${status}, member_id = ${Member.getId()}, dispatch_date = ${modDate}, dispatch_note = ${note} where dispatch_id = ${id}
  </update>
</mapper>