<!DOCTYPE html>
<html th:replace="~{fragment/layout.html :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">
<section>
    <head>
        <title>All Live Young: Sales</title>
        <style>
            .errorMessage{
                color: #ff4238;
                font-size: 10px;
            }
        </style>
    </head>
    <body>
    <h1 class="h3 mb-4 text-gray-800"></h1>
    <div class="card shadow">
        <div class="card-body">
            <h5>매출 수정</h5>
            <p></p>
            <form method="post" th:action th:object="${salesUpdateDTO}">
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label for="warehouse">창고명</label>
                    <input type="text" class="form-control" id="warehouse" th:field="${existSales.warehouse.name}"
                           disabled>
                </div>
                <div class="form-group">
                    <label for="salesDate">매출일자</label>
                    <input type="date" class="form-control" id="salesDate" th:field="${existSales.salesDate}" disabled>
                </div>
                <div class="form-group">
                    <label for="category">매출분류</label>
                    <input type="text" class="form-control" id="category" th:field="${existSales.category}" disabled>
                </div>
                <div class="form-group">
                    <label for="amount">지출액</label>
                    <input type="number" class="form-control" id="amount" th:field="*{amount}">
                    <div class="errorMessage" th:errors="*{amount}"></div>
                </div>
                <div class="form-group">
                    <label for="description">설명</label>
                    <input type="text" class="form-control" id="description" th:field="*{description}">
                </div>
                <button type="submit" class="btn btn-primary" th:text="등록"></button>
                <a th:href="@{/sales}" class="btn btn-secondary" th:text="취소" style="margin-left: 0.3rem"></a>
            </form>
        </div>
    </div>
    </body>
</section>
</html>
