<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragment/layout :: layout(~{::body})}">
<body>
<section>
    <h2>회원 승인 요청 목록</h2>

    <table>
        <thead>
        <tr>
            <th>이름</th>
            <th>이메일</th>
            <th>회원 유형</th>
            <th>가입 요청 일자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <td th:text="${member.name}"></td>
            <td>
                <a th:href="@{/admin/members/{memberId}(memberId=${member.memberId}, showActionButtons=true)}" th:text="${member.email}"></a>

                th:text="${member.email}"></a> <!-- 회원 이메일 클릭 시 상세보기로 이동 -->
            </td>
            <td th:text="${member.roleType}"></td>
            <td th:text="${#dates.format(member.joinDate, 'yyyy-MM-dd')}"></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>
