<!DOCTYPE html>
<html th:replace="~{fragment/layout.html :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">

<section><div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">출고 요청서</h1>
  <p class="mb-4">출고 요청서를 작성해주세요</p>


  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">출고 요청 리스트</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive table-scroll">
        <form th:action="@{/outbound-request/save}" method="post">
          <p class="mb-4">* 는 필수입력사항입니다.</p>
          <table class="table table-bordered" id="outboundrequest_register" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>번호</th>
              <th>재고정보(*)</th>
              <th>보유재고량(*)</th>
              <th>주문수량(*)</th>
              <th>수령인 이름(*)</th>
              <th>수령인 주소(*)</th>
              <th>수령인 연락처(*)</th>
              <th>비고</th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td>1</td>
              <td>
                <select name="stockInfo[0]" class="form-control" required>
                  <option value="">선택</option>
                  <th:block th:each="stock : ${stockList}">
                    <option th:value="${stock.id}" th:text="${stock.productName}"></option>
                  </th:block>
                </select>
              </td>

              <td><input type="text" name="availableStock[0]" class="form-control" readonly></td>
              <td><input type="number" name="quantity[0]" class="form-control" required min="1"></td>
              <td><input type="text" name="recipientName[0]" class="form-control" required></td>
              <td><input type="text" name="recipientAddress[0]" class="form-control" required></td>
              <td><input type="text" name="recipientContact[0]" class="form-control" required></td>
              <td><input type="text" name="note[0]" class="form-control"></td>
            </tr>
            </tbody>

          </table>

          <div class="form-container">
            <button type="button"  id="addRowBtn">+ 열 추가</button>
            <button type="button" id="removeRowBtn">취소</button>
            <button type="submit">등록</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div></section>

</html>