.table-scroll {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}

.dataTables_filter>label {
  display: none;
}

.editable {
  background-color: white;
  pointer-events: auto;
  opacity: 1;
}