<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>All Live Young: Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="../static/css/outbound.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- 네비게이션 바 START -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon">
                <img src="../static/img/logo.png" width="80px">
            </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- 대시보드 -->
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="fas fa-fw fa-laugh-wink"></i>
                <span>대시보드</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            입·출고
        </div>

        <!-- 입고 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#inboundBar"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>입고관리</span>
            </a>
            <div id="inboundBar" class="collapse" aria-labelledby="headingInboundBar" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">입고관리</h6>
                    <a class="collapse-item" href="buttons.html">입고요청</a>
                    <a class="collapse-item" href="cards.html">검수조서</a>
                </div>
            </div>
        </li>

        <!-- 출고 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#outboundBar"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cogs"></i>
                <span>출고관리</span>
            </a>
            <div id="outboundBar" class="collapse" aria-labelledby="headingOutboundBar" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">출고현황</h6>
                    <a class="collapse-item" href="mgr-outbounding.html">진행중인 출고</a>
                    <a class="collapse-item" href="mgr-outbounded.html">완료된 출고</a>
                    <h6 class="collapse-header">출고관리</h6>
                    <a class="collapse-item" href="mgr-outboundrequest.html">출고요청</a>
                    <a class="collapse-item" href="mgr-outboundinspection.html">출고검수</a>
                    <a class="collapse-item" href="mgr-dispatch.html">배차</a>
                    <a class="collapse-item" href="mgr-shipment.html">운송</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            운영·자산
        </div>

        <!-- 창고 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#warehouseBar"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-search"></i>
                <span>창고관리</span>
            </a>
            <div id="warehouseBar" class="collapse" aria-labelledby="headingWarehouseBar" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">창고관리</h6>
                    <a class="collapse-item" href="buttons.html">창고목록</a>
                </div>
            </div>
        </li>

        <!-- 재고 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#stockBar"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-table"></i>
                <span>재고관리</span>
            </a>
            <div id="stockBar" class="collapse" aria-labelledby="headingStockBar" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">재고관리</h6>
                    <a class="collapse-item" href="buttons.html">재고 목록</a>
                    <a class="collapse-item" href="cards.html">재고 실사</a>
                </div>
            </div>
        </li>

        <!-- 재무 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#financeBar"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-donate"></i>
                <span>재무관리</span>
            </a>
            <div id="financeBar" class="collapse" aria-labelledby="headingFinanceBar" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">재무관리</h6>
                    <a class="collapse-item" href="buttons.html">지출 목록</a>
                    <a class="collapse-item" href="cards.html">매출 목록</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            고객 서비스
        </div>

        <!-- 회원 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#memberBar"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-user"></i>
                <span>회원관리</span>
            </a>
            <div id="memberBar" class="collapse" aria-labelledby="headingMemberBar" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">회원관리</h6>
                    <a class="collapse-item" href="buttons.html">회원 목록</a>
                </div>
            </div>
        </li>

        <!-- 고객센터 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#customerBar"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-envelope"></i>
                <span>고객센터</span>
            </a>
            <div id="customerBar" class="collapse" aria-labelledby="headingcustomerBar" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">고객센터</h6>
                    <a class="collapse-item" href="buttons.html">공지사항</a>
                    <a class="collapse-item" href="cards.html">1:1문의 목록</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            분석
        </div>

        <!-- 통계 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#chartBar"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>통계</span>
            </a>
            <div id="chartBar" class="collapse" aria-labelledby="headingChartBar" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">통계</h6>
                    <a class="collapse-item" href="buttons.html">입·출고 통계</a>
                    <a class="collapse-item" href="cards.html">재고 통계</a>
                    <a class="collapse-item" href="cards.html">재무 통계</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- 네비게이션 바 END -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form
                    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="검색 ..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                알림창
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-600">2019.12.12.</div>
                                    <span class="text-gray-700">입고 신청이 1건 발생했습니다!</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-success">
                                        <i class="fas fa-donate text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-600">2019.12.7.</div>
                                    <span class="text-gray-700">지출이 1건 발생했습니다!</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-warning">
                                        <i class="fas fa-exclamation-triangle text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-600">2019.12.12.</div>
                                    <span class="text-gray-700">진행중인 출고가 10건 있습니다!</span>
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">  이경민</span>
                            <img class="img-profile rounded-circle"
                                 src="../static/img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                마이페이지
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                로그아웃
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">출고 요청서</h1>
                    <p class="mb-4">출고 요청 설명서를 작성해주세요</p>

                    
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">출고 요청 리스트</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table-scroll">
                                <form action="/outbound-request/save" method="post">
                                <p class="mb-4">* 는 필수입력사항입니다.</p>
                                <table class="table table-bordered" id="outboundrequest_register" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>재고정보(*)</th>
                                            <th>보유재고량(*)</th>
                                            <th>주문수량(*)</th>
                                            <th>수령인 이름(*)</th>
                                            <th>수령인 주소(*)</th>
                                            <th>수령인 연락처(*)</th>
                                            <th>비고</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <select name="stockInfo[0]" class="form-control" required>
                                                <option value="">선택</option>
                                                <option value="stock1">재고 1</option>
                                                <option value="stock2">재고 2</option>
                                                <option value="stock3">재고 3</option>
                                            </select>
                                        </td>
                                        <td><input type="text" name="availableStock[0]" class="form-control" readonly></td>
                                        <td><input type="number" name="quantity[0]" class="form-control" required min="1"></td>
                                        <td><input type="text" name="recipientName[0]" class="form-control" required></td>
                                        <td><input type="text" name="recipientAddress[0]" class="form-control" required></td>
                                        <td><input type="text" name="recipientContact[0]" class="form-control" required></td>
                                        <td><input type="text" name="note[0]" class="form-control"></td>
                                    </tr>
                                    </tbody>

                                </table>

                                <div class="form-container">
                                    <button type="button"  id="addRowBtn">+ 열 추가</button>
                                    <button type="button" id="removeRowBtn">취소</button>
                                    <button type="submit">등록</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../static/js/demo/datatables-demo.js"></script>
    <script src="../static/js/demo/outbound-demo.js"></script>


    
</body>

</html>