<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>All Live Young: Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- 네비게이션 바 START -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon">
                <img src="../img/logo.png" width="80px">
            </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- 대시보드 -->
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="fas fa-fw fa-laugh-wink"></i>
                <span>대시보드</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            입·출고
        </div>

        <!-- 입고 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#inboundBar"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>입고관리</span>
            </a>
            <div id="inboundBar" class="collapse" aria-labelledby="headingInboundBar" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">입고관리</h6>
                    <a class="collapse-item" href="buttons.html">입고요청</a>
                    <a class="collapse-item" href="cards.html">검수조서</a>
                </div>
            </div>
        </li>

        <!-- 출고 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#outboundBar"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cogs"></i>
                <span>출고관리</span>
            </a>
            <div id="outboundBar" class="collapse" aria-labelledby="headingOutboundBar" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">출고관리</h6>
                    <a class="collapse-item" href="mgr-outboundrequest.html">출고요청 관리</a>
                    <a class="collapse-item" href="mgr-outbounding.html">진행중인 출고</a>
                    <a class="collapse-item" href="mgr-outbounded.html">완료된 출고</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            운영·자산
        </div>

        <!-- 창고 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#warehouseBar"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-search"></i>
                <span>창고관리</span>
            </a>
            <div id="warehouseBar" class="collapse" aria-labelledby="headingWarehouseBar" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">창고관리</h6>
                    <a class="collapse-item" href="buttons.html">창고목록</a>
                </div>
            </div>
        </li>

        <!-- 재고 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#stockBar"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-table"></i>
                <span>재고관리</span>
            </a>
            <div id="stockBar" class="collapse" aria-labelledby="headingStockBar" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">재고관리</h6>
                    <a class="collapse-item" href="buttons.html">재고 목록</a>
                    <a class="collapse-item" href="cards.html">재고 실사</a>
                </div>
            </div>
        </li>

        <!-- 재무 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#financeBar"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-donate"></i>
                <span>재무관리</span>
            </a>
            <div id="financeBar" class="collapse" aria-labelledby="headingFinanceBar" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">재무관리</h6>
                    <a class="collapse-item" href="buttons.html">지출 목록</a>
                    <a class="collapse-item" href="cards.html">매출 목록</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            고객 서비스
        </div>

        <!-- 회원 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#memberBar"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-user"></i>
                <span>회원관리</span>
            </a>
            <div id="memberBar" class="collapse" aria-labelledby="headingMemberBar" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">회원관리</h6>
                    <a class="collapse-item" href="buttons.html">회원 목록</a>
                </div>
            </div>
        </li>

        <!-- 고객센터 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#customerBar"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-envelope"></i>
                <span>고객센터</span>
            </a>
            <div id="customerBar" class="collapse" aria-labelledby="headingcustomerBar" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">고객센터</h6>
                    <a class="collapse-item" href="buttons.html">공지사항</a>
                    <a class="collapse-item" href="cards.html">1:1문의 목록</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            분석
        </div>

        <!-- 통계 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#chartBar"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>통계</span>
            </a>
            <div id="chartBar" class="collapse" aria-labelledby="headingChartBar" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">통계</h6>
                    <a class="collapse-item" href="buttons.html">입·출고 통계</a>
                    <a class="collapse-item" href="cards.html">재고 통계</a>
                    <a class="collapse-item" href="cards.html">재무 통계</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- 네비게이션 바 END -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form
                    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="검색 ..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                알림창
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-600">2019.12.12.</div>
                                    <span class="text-gray-700">입고 신청이 1건 발생했습니다!</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-success">
                                        <i class="fas fa-donate text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-600">2019.12.7.</div>
                                    <span class="text-gray-700">지출이 1건 발생했습니다!</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-warning">
                                        <i class="fas fa-exclamation-triangle text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-600">2019.12.12.</div>
                                    <span class="text-gray-700">진행중인 출고가 10건 있습니다!</span>
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">  이경민</span>
                            <img class="img-profile rounded-circle"
                                 src="../img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                마이페이지
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                로그아웃
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">출고요청관리</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">출고요청내역</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>작업코드</th>
                                            <th>처리상태</th>
                                            <th>주문자ID</th>
                                            <th>재고번호</th>
                                            <th>주문수량</th>
                                            <th>수령인 이름</th>
                                            <th>수령인 주소</th>
                                            <th>수령인 연락처</th>
                                            <th>등록일자</th>
                                            <th>수정일자</th>
                                            <th>비고</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>obreq-2024092008300000001</td>
                                        <td>검수완료</td>
                                        <td>ssg@gmail.com</td>
                                        <td>20240801000000001</td>
                                        <td>10</td>
                                        <td>홍길동</td>
                                        <td>서울</td>
                                        <td>010-1234-1234</td>

                                        <td>2024.09.20. 08:30:00</td>
                                        <td>2024.09.21. 09:30:00</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>obreq-2024092008300000002</td>
                                        <td>검수중</td>
                                        <td>abc@gmail.com</td>
                                        <td>20240801000000002</td>
                                        <td>15</td>
                                        <td>김영희</td>
                                        <td>부산</td>
                                        <td>010-9876-5432</td>

                                        <td>2024.09.20. 08:40:00</td>
                                        <td>2024.09.21. 09:40:00</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>obreq-2024092008300000003</td>
                                        <td>검수대기</td>
                                        <td>xyz@gmail.com</td>
                                        <td>20240801000000003</td>
                                        <td>20</td>
                                        <td>이철수</td>
                                        <td>대전</td>
                                        <td>010-4567-2345</td>

                                        <td>2024.09.20. 08:50:00</td>
                                        <td>2024.09.21. 09:50:00</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>obreq-2024092008300000004</td>
                                        <td>검수완료</td>
                                        <td>lmn@gmail.com</td>
                                        <td>20240801000000004</td>
                                        <td>25</td>
                                        <td>박지성</td>
                                        <td>인천</td>
                                        <td>010-2345-5678</td>

                                        <td>2024.09.20. 09:00:00</td>
                                        <td>2024.09.21. 10:00:00</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>obreq-2024092008300000005</td>
                                        <td>검수중</td>
                                        <td>pqr@gmail.com</td>
                                        <td>20240801000000005</td>
                                        <td>30</td>
                                        <td>최민호</td>
                                        <td>광주</td>
                                        <td>010-8765-4321</td>

                                        <td>2024.09.20. 09:10:00</td>
                                        <td>2024.09.21. 10:10:00</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>obreq-2024092008300000006</td>
                                        <td>검수대기</td>
                                        <td>def@gmail.com</td>
                                        <td>20240801000000006</td>
                                        <td>35</td>
                                        <td>김민준</td>
                                        <td>울산</td>
                                        <td>010-7654-3210</td>

                                        <td>2024.09.20. 09:20:00</td>
                                        <td>2024.09.21. 10:20:00</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>obreq-2024092008300000007</td>
                                        <td>검수완료</td>
                                        <td>ghi@gmail.com</td>
                                        <td>20240801000000007</td>
                                        <td>40</td>
                                        <td>송지훈</td>
                                        <td>대구</td>
                                        <td>010-6543-2109</td>
                                        <td>2024.09.20. 09:30:00</td>
                                        <td>2024.09.21. 10:30:00</td>
                                        <td></td>

                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>obreq-2024092008300000008</td>
                                        <td>검수중</td>
                                        <td>jkl@gmail.com</td>
                                        <td>20240801000000008</td>
                                        <td>45</td>
                                        <td>정유라</td>
                                        <td>경기</td>
                                        <td>010-5432-1098</td>

                                        <td>2024.09.20. 09:40:00</td>
                                        <td>2024.09.21. 10:40:00</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>obreq-2024092008300000009</td>
                                        <td>검수대기</td>
                                        <td>mno@gmail.com</td>
                                        <td>20240801000000009</td>
                                        <td>50</td>
                                        <td>최지훈</td>
                                        <td>전주</td>
                                        <td>010-4321-0987</td>

                                        <td>2024.09.20. 09:50:00</td>
                                        <td>2024.09.21. 10:50:00</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>obreq-2024092008300000010</td>
                                        <td>검수완료</td>
                                        <td>opq@gmail.com</td>
                                        <td>20240801000000010</td>
                                        <td>55</td>
                                        <td>이도현</td>
                                        <td>세종</td>
                                        <td>010-3210-9876</td>

                                        <td>2024.09.20. 10:00:00</td>
                                        <td>2024.09.21. 11:00:00</td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td>11</td>
                                        <td>obreq-20240920101000110001</td>
                                        <td>검수완료</td>
                                        <td>kimj@gmail.com</td>
                                        <td>20240801000000011</td>
                                        <td>5</td>
                                        <td>이승기</td>
                                        <td>대전</td>
                                        <td>010-1111-2222</td>
                                        <td>2024.09.20. 10:10:00</td>
                                        <td>2024.09.21. 11:10:00</td>
                                        <td>빠른 배송 부탁드립니다.</td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>obreq-20240920102000120002</td>
                                        <td>검수중</td>
                                        <td>park@gmail.com</td>
                                        <td>20240801000000012</td>
                                        <td>7</td>
                                        <td>박철민</td>
                                        <td>부산</td>
                                        <td>010-2222-3333</td>
                                        <td>2024.09.20. 10:20:00</td>
                                        <td>2024.09.21. 11:20:00</td>
                                        <td>문 앞에 놓아주세요.</td>
                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td>obreq-20240920103000130003</td>
                                        <td>검수대기</td>
                                        <td>choi@gmail.com</td>
                                        <td>20240801000000013</td>
                                        <td>10</td>
                                        <td>최미라</td>
                                        <td>인천</td>
                                        <td>010-3333-4444</td>
                                        <td>2024.09.20. 10:30:00</td>
                                        <td>2024.09.21. 11:30:00</td>
                                        <td>전화 후 배달 바랍니다.</td>
                                    </tr>
                                    <tr>
                                        <td>14</td>
                                        <td>obreq-20240920104000140004</td>
                                        <td>검수완료</td>
                                        <td>leej@gmail.com</td>
                                        <td>20240801000000014</td>
                                        <td>15</td>
                                        <td>이지훈</td>
                                        <td>서울</td>
                                        <td>010-4444-5555</td>
                                        <td>2024.09.20. 10:40:00</td>
                                        <td>2024.09.21. 11:40:00</td>
                                        <td>부재 시 경비실에 맡겨주세요.</td>
                                    </tr>
                                    <tr>
                                        <td>15</td>
                                        <td>obreq-20240920105000150005</td>
                                        <td>검수중</td>
                                        <td>oh@gmail.com</td>
                                        <td>20240801000000015</td>
                                        <td>3</td>
                                        <td>오지현</td>
                                        <td>광주</td>
                                        <td>010-5555-6666</td>
                                        <td>2024.09.20. 10:50:00</td>
                                        <td>2024.09.21. 11:50:00</td>
                                        <td>조심히 다뤄주세요.</td>
                                    </tr>
                                    <tr>
                                        <td>16</td>
                                        <td>obreq-20240921100000160006</td>
                                        <td>검수대기</td>
                                        <td>kwon@gmail.com</td>
                                        <td>20240801000000016</td>
                                        <td>8</td>
                                        <td>권민수</td>
                                        <td>대구</td>
                                        <td>010-6666-7777</td>
                                        <td>2024.09.21. 10:00:00</td>
                                        <td>2024.09.22. 12:00:00</td>
                                        <td>늦은 저녁에 배달 가능합니다.</td>
                                    </tr>
                                    <tr>
                                        <td>17</td>
                                        <td>obreq-20240921101000170007</td>
                                        <td>검수완료</td>
                                        <td>song@gmail.com</td>
                                        <td>20240801000000017</td>
                                        <td>6</td>
                                        <td>송지훈</td>
                                        <td>울산</td>
                                        <td>010-7777-8888</td>
                                        <td>2024.09.21. 10:10:00</td>
                                        <td>2024.09.22. 12:10:00</td>
                                        <td>배달 전에 연락 부탁드립니다.</td>
                                    </tr>
                                    <tr>
                                        <td>18</td>
                                        <td>obreq-20240921102000180008</td>
                                        <td>검수중</td>
                                        <td>han@gmail.com</td>
                                        <td>20240801000000018</td>
                                        <td>12</td>
                                        <td>한지민</td>
                                        <td>대전</td>
                                        <td>010-8888-9999</td>
                                        <td>2024.09.21. 10:20:00</td>
                                        <td>2024.09.22. 12:20:00</td>
                                        <td>빠른 배송 부탁드립니다.</td>
                                    </tr>
                                    <tr>
                                        <td>19</td>
                                        <td>obreq-20240921103000190009</td>
                                        <td>검수대기</td>
                                        <td>yoon@gmail.com</td>
                                        <td>20240801000000019</td>
                                        <td>9</td>
                                        <td>윤도현</td>
                                        <td>전주</td>
                                        <td>010-9999-0000</td>
                                        <td>2024.09.21. 10:30:00</td>
                                        <td>2024.09.22. 12:30:00</td>
                                        <td>조심히 배달해주세요.</td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>obreq-20240921104000200010</td>
                                        <td>검수완료</td>
                                        <td>jung@gmail.com</td>
                                        <td>20240801000000020</td>
                                        <td>4</td>
                                        <td>정승호</td>
                                        <td>수원</td>
                                        <td>010-0000-1111</td>
                                        <td>2024.09.21. 10:40:00</td>
                                        <td>2024.09.22. 12:40:00</td>
                                        <td>물건 확인 후 전화주세요.</td>
                                    </tr>
                                    <tr>
                                        <td>21</td>
                                        <td>obreq-20240922101000210011</td>
                                        <td>검수대기</td>
                                        <td>kang@gmail.com</td>
                                        <td>20240801000000021</td>
                                        <td>14</td>
                                        <td>강민수</td>
                                        <td>창원</td>
                                        <td>010-1234-5678</td>
                                        <td>2024.09.22. 10:10:00</td>
                                        <td>2024.09.23. 11:10:00</td>
                                        <td>조용히 배달 부탁드립니다.</td>
                                    </tr>
                                    <tr>
                                        <td>22</td>
                                        <td>obreq-20240922102000220012</td>
                                        <td>검수중</td>
                                        <td>moon@gmail.com</td>
                                        <td>20240801000000022</td>
                                        <td>6</td>
                                        <td>문지영</td>
                                        <td>강원</td>
                                        <td>010-2345-6789</td>
                                        <td>2024.09.22. 10:20:00</td>
                                        <td>2024.09.23. 11:20:00</td>
                                        <td>배송 전에 연락 바랍니다.</td>
                                    </tr>
                                    <tr>
                                        <td>23</td>
                                        <td>obreq-20240922103000230013</td>
                                        <td>검수완료</td>
                                        <td>kwak@gmail.com</td>
                                        <td>20240801000000023</td>
                                        <td>8</td>
                                        <td>곽진영</td>
                                        <td>경기</td>
                                        <td>010-3456-7890</td>
                                        <td>2024.09.22. 10:30:00</td>
                                        <td>2024.09.23. 11:30:00</td>
                                        <td>안전하게 배송 부탁드립니다.</td>
                                    </tr>
                                    <tr>
                                        <td>24</td>
                                        <td>obreq-20240922104000240014</td>
                                        <td>검수중</td>
                                        <td>nam@gmail.com</td>
                                        <td>20240801000000024</td>
                                        <td>10</td>
                                        <td>남지현</td>
                                        <td>제주</td>
                                        <td>010-4567-8901</td>
                                        <td>2024.09.22. 10:40:00</td>
                                        <td>2024.09.23. 11:40:00</td>
                                        <td>배송 중 연락 바랍니다.</td>
                                    </tr>
                                    <tr>
                                        <td>25</td>
                                        <td>obreq-20240922105000250015</td>
                                        <td>검수완료</td>
                                        <td>jang@gmail.com</td>
                                        <td>20240801000000025</td>
                                        <td>12</td>
                                        <td>장동건</td>
                                        <td>울산</td>
                                        <td>010-5678-9012</td>
                                        <td>2024.09.22. 10:50:00</td>
                                        <td>2024.09.23. 11:50:00</td>
                                        <td>수령 후 연락 부탁드립니다.</td>
                                    </tr>
                                    <tr>
                                        <td>26</td>
                                        <td>obreq-20240923101000260016</td>
                                        <td>검수대기</td>
                                        <td>lee2@gmail.com</td>
                                        <td>20240801000000026</td>
                                        <td>5</td>
                                        <td>이준혁</td>
                                        <td>서울</td>
                                        <td>010-6789-0123</td>
                                        <td>2024.09.23. 10:10:00</td>
                                        <td>2024.09.24. 12:10:00</td>
                                        <td>빠른 확인 바랍니다.</td>
                                    </tr>
                                    <tr>
                                        <td>27</td>
                                        <td>obreq-20240923102000270017</td>
                                        <td>검수중</td>
                                        <td>jung2@gmail.com</td>
                                        <td>20240801000000027</td>
                                        <td>7</td>
                                        <td>정현수</td>
                                        <td>부산</td>
                                        <td>010-7890-1234</td>
                                        <td>2024.09.23. 10:20:00</td>
                                        <td>2024.09.24. 12:20:00</td>
                                        <td>늦지 않게 배달 부탁드립니다.</td>
                                    </tr>
                                    <tr>
                                        <td>28</td>
                                        <td>obreq-20240923103000280018</td>
                                        <td>검수완료</td>
                                        <td>kim2@gmail.com</td>
                                        <td>20240801000000028</td>
                                        <td>9</td>
                                        <td>김수현</td>
                                        <td>광주</td>
                                        <td>010-8901-2345</td>
                                        <td>2024.09.23. 10:30:00</td>
                                        <td>2024.09.24. 12:30:00</td>
                                        <td>안전하게 포장 부탁드립니다.</td>
                                    </tr>
                                    <tr>
                                        <td>29</td>
                                        <td>obreq-20240923104000290019</td>
                                        <td>검수중</td>
                                        <td>park2@gmail.com</td>
                                        <td>20240801000000029</td>
                                        <td>6</td>
                                        <td>박혜미</td>
                                        <td>대구</td>
                                        <td>010-9012-3456</td>
                                        <td>2024.09.23. 10:40:00</td>
                                        <td>2024.09.24. 12:40:00</td>
                                        <td>늦지 않게 부탁드립니다.</td>
                                    </tr>
                                    <tr>
                                        <td>30</td>
                                        <td>obreq-20240923105000300020</td>
                                        <td>검수완료</td>
                                        <td>choi2@gmail.com</td>
                                        <td>20240801000000030</td>
                                        <td>8</td>
                                        <td>최은주</td>
                                        <td>인천</td>
                                        <td>010-0123-4567</td>
                                        <td>2024.09.23. 10:50:00</td>
                                        <td>2024.09.24. 12:50:00</td>
                                        <td>신속한 처리 부탁드립니다.</td>
                                    </tr>



                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; All Live Young 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../js/demo/datatables-demo.js"></script>

</body>

</html>